@model SerieYnoModels.Models.EpisodeModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EpisodeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Num_ep" class="control-label"></label>
                <input asp-for="Num_ep" class="form-control" />
                <span asp-validation-for="Num_ep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name_ep" class="control-label"></label>
                <input asp-for="Name_ep" class="form-control" />
                <span asp-validation-for="Name_ep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaisonId" class="control-label"></label>
                <select asp-for="SaisonId" class="form-control" asp-items="ViewBag.SaisonId"></select>
                <span asp-validation-for="SaisonId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedAt" class="control-label"></label>
                <input asp-for="DeletedAt" class="form-control" />
                <span asp-validation-for="DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
